<div class="footer navbar-fixed-bottom my_footer">


<a href="#" class="fab fa-facebook"></a>
<a href="#" class="fab fa-twitter"></a>
<a href="#" class="fab fa-google"></a>
<a href="#" class="fab fa-linkedin"></a>
<a href="#" class="fab fa-youtube"></a>
<a href="#" class="fab fa-instagram"></a>
<a href="#" class="fab fa-skype"></a>
    <a href="#" class="text-center">Thrissur</a>
    <a href="#" class="text-center">/Ernakulam</a>
    <a href="#" class="text-center">/Kozhikode</a>
    <a href="#" class="text-center">/Trivandrum</a>
    <a href="#" class="text-center">/Pattanamtitta</a>
    <a href="#" class="text-center">/Kollam</a>
    <a href="#" class="text-center">/Attingal</a>
    <a href="#" class="text-center">/Kochi</a>
    <a href="#" class="text-center">/Kottayam</a>
    <a href="#" class="text-center">/Kannur</a>
    <a href="#" class="text-center">/Kasargod</a>
    <a href="#" class="text-center">/Kozhikode</a>
    <a href="#" class="text-center">/Palakkad</a>
<p class="text-center">
        © 2023 www.babysmile.com. All rights reserved.
    </p>
</div>