
{% load static %}
<!-- wishlist.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Wishlist</title>
    <center>
        <img src="{% static 'img/logo.png' %}" alt="logimage" width="100px" height="150px">
    </center>
</head>
<body>
    <h1>My Wishlist</h1>
    <ul>
        {% for item in wishlist_items %}
            <li>
                {{ item }} - {{ item.price }} -
<!--                <a href="{{item.get_absolute_url}}"><img src="{{item.image.url}}" alt="" style="width:100px;height:100px;" class="float-left rounded custom_image"></a>-->
                    <a href="{% url 'cart:remove_from_wishlist' item.id %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>